<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-header">
      <p>Nuestros <span>Servicios</span></p>
    </div>

    <div class="grid">
      <div
        class="col-12 md:col-6 text-center cursor-pointer card"
        *ngFor="let service of services"
      >
        <p-card header="{{ service.title }}">
          <ng-template pTemplate="header">
            <!-- <div class="icon"><i [class]="service.icon"></i></div> -->
            <div class="rounded-icon">
              <i [class]="service.icon"></i>
            </div>
          </ng-template>
          <p class="m-0">
            {{ service.description }}
          </p>
        </p-card>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
