<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <p>Productos <span>Recomendados</span></p>
    </div>

    <ul
      class="nav nav-tabs d-flex justify-content-center"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <li class="nav-item" *ngFor="let tab of tabs">
        <a
          class="nav-link {{ tab.active ? 'active' : '' }} show"
          (click)="changeActive(tab)"
        >
          <h4>{{ tab.title }}</h4>
        </a>
      </li>
      <!-- End tab nav item -->
    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
      <div
        class="tab-pane fade {{ tab.active ? 'active' : '' }} show"
        *ngFor="let tab of tabs"
        [id]="tab.id"
      >
        <div class="tab-header text-center">
          <h3 class="text-uppercase">{{ tab.title }}</h3>
        </div>

        <div class="row justify-content-center gy-5">
          <div
            class="col-lg-3 menu-item"
            *ngFor="let product of products | filterTabs : tab.id"
            routerLink="./detail/1"
          >
            <img [src]="product.img" class="menu-img img-fluid" alt="" />
            <h4>{{ product.title }}</h4>
            <p class="ingredients">{{ product.source }}</p>
            <p class="price">{{ product.price }}</p>
          </div>
          <!-- Menu Item -->

          <h4
            *ngIf="(products | filterTabs : tab.id).length == 0"
            class="text-center"
          >
            No se encontraron productos para esta categoría
          </h4>
        </div>
      </div>
      <!-- End Starter Menu Content -->
    </div>
  </div>
</section>
<!-- End Menu Section -->
