<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <a
      routerLink="/hero"
      class="logo d-flex align-items-center me-auto me-lg-0"
    >
      <img src="assets/img/Logo.jpg" alt="" class="img-fluid" />
    </a> -->

    <!-- <div class="card flex justify-content-center">
      <p-button label="Check" icon="pi pi-check"></p-button>
    </div> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li routerLinkActive="active"><a routerLink="/hero">Inicio</a></li>
        <li routerLinkActive="active">
          <a routerLink="/about">¿Por qué nosotros?</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/team">Equipo</a></li>
        <li routerLinkActive="active">
          <a routerLink="/services">Servicios</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/products">Productos</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/contact">Contacto</a></li>
      </ul>
    </nav>

    <div class="header-social-links d-flex">
      <!-- <a href="#" class="twitter"><i class="bu bi-twitter"></i></a> -->
      <a
        href="https://www.instagram.com/dair.team/"
        class="instagram"
        target="_blank"
        ><i class="bu bi-instagram"></i
      ></a>
    </div>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
<!-- End Header -->
