<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img
        src="https://primefaces.org/cdn/primeng/images/primeng.svg"
        height="40"
        class="mr-2"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex flex-row">
        <p-button
          icon="pi pi-instagram"
          styleClass="p-button-rounded p-button-warning p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-twitter"
          styleClass="p-button-rounded p-button-info p-button-text"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>
