:host ::ng-deep p-menubarsub {
  width: 100% !important;
}
:host ::ng-deep .p-menubar-root-list {
  justify-content: center;
}

:host ::ng-deep .p-menubar-end {
  margin-left: 0% !important;
}
:host ::ng-deep .p-menubar {
  justify-content: center !important;
  background-color: #fafafa;
  border: none;
  position: sticky;
  position: -webkit-sticky; // Needed for Safari browsers.
  z-index: 10000; // This prevents elements to be seen through the toolbar.
  top: 0; // Required for "position: sticky" to take effect.
}

:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:hover
  .p-menuitem-icon,
:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:hover
  .p-menuitem-text {
  color: red;
}
