<!-- ======= Hero Section ======= -->
<!-- <section class="hero">
  <ngb-carousel
    *ngIf="slides"
    id="heroCarousel"
    class="carousel slide carousel-fade"
  >
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="wrapper">
        <img [src]="slide.img" [alt]="slide.alt" />
      </div>
      <h2>{{ slide.title }}</h2>
      <p>
        {{ slide.text }}
      </p>
      <div class="text-center">
        <a href="" class="btn-get-started">Read More</a>
      </div>
    </ng-template>
  </ngb-carousel>
</section> -->
<!-- End Hero -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start"
      >
        <h2 data-aos="fade-up">No eres lo que logras,<br />Eres lo que superas</h2>
        <p data-aos="fade-up" data-aos-delay="100">
          Sed autem laudantium dolores. Voluptatem itaque ea consequatur
          eveniet. Eum quas beatae cumque eum quaerat.
        </p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="/about" class="btn-see-more">¿Quiénes somos?</a>
          <a
            href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i><span>Ver Video</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
