/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

:host ::ng-deep .p-carousel .p-link {
  color: var(--color-primary) !important;
  &:focus {
    box-shadow: none;
  }
}

/* Cambiar el color de los indicadores inactivos */
:host ::ng-deep .p-carousel .p-carousel-indicator {
  background-color: red !important; /* Cambia este color según tus preferencias */
}

/* Cambiar el color del indicador activo */
:host ::ng-deep .p-carousel .p-carousel-indicator.p-link {
  background-color: green !important; /* Cambia este color según tus preferencias */
}

/* Cambiar el color de los indicadores inactivos */
:host
  ::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: var(
    --color-primary
  ) !important; /* Cambia este color según tus preferencias */
}
