/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

:host ::ng-deep .p-carousel .p-link {
  color: var(--color-primary) !important;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-primary) !important;
  }
}

:host
  ::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: var(
    --color-primary
  ) !important; /* Cambia este color según tus preferencias */
}
