/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.icon {
  font-size: 30px;
  color: var(--color-primary);
  display: inline-block;
  height: 65px;
  width: 65px;
  background: #363636;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
  margin-right: 20px;
}

p {
  overflow: hidden;
  color: #c4c4c4;
  margin-bottom: 0;
  padding-top: 10px;
}
